<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script type="text/javascript" src="/javascripts/validation.js"></script> -->
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
    </head>
    <body>
    	<button type="submit" id="phase-one" class="submit">Send Key 1</button>
    	<button type="submit" id="phase-two" class="submit">Send Key 2</button>
        <button type="submit" id="phase-three" class="submit">Send Key 3</button>
    	<script type="text/javascript">
    		$(document).ready(function (){
    			$("#phase-one").click(function () {
    				$.ajax({
						type: "POST",
						url: "/admin/sendKey",
						data: JSON.stringify({
                            msg: "keyOne"
                        }),
                        contentType: "application/json",
                        dataType: "json",
						// success: function(message) {
						// 	console.log(message)
						// },
					});
    			});
    			$("#phase-two").click(function () {
    				$.ajax({
						type: "POST",
						url: "/admin/sendKey",
						data: JSON.stringify({
                            msg: "keyTwo"
                        }),
                        contentType: "application/json",
                        dataType: "json",
						// success: function(message) {
						// 	console.log(message)
						// },
					});
    			});
                $("#phase-three").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/admin/sendKey",
                        data: JSON.stringify({
                            msg: "keyThree"
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        // success: function(message) {
                        //  console.log(message)
                        // },
                    });
                });
    		});
    	</script>
    </body>
</html>