<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script type="text/javascript" src="/javascripts/validation.js"></script> -->
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
    </head>
    <body>
        <form method="post" action="/admin/logout">
            <button type="submit" class="submit" value="Logout">Logout</button>
        </form>
        <br><br>
    	<button type="submit" id="phase-one" class="submit">Send Key 1</button>
    	<button type="submit" id="phase-two" class="submit">Send Key 2</button>
        <button type="submit" id="phase-three" class="submit">Send Key 3</button>
        <button type="submit" id="count-votes" class="submit">Count</button>
        <br><br>
        <div id="message"><%= message %></div>


    	<script type="text/javascript">
    		$(document).ready(function (){
    			$("#phase-one").click(function () {
    				$.ajax({
						type: "POST",
						url: "/admin/sendKey",
						data: JSON.stringify({
                            msg: "keyOne"
                        }),
                        contentType: "application/json",
                        dataType: "json",
						success: function(data) {
							// alert(data.msg);
                            $("#message").html(data.msg);

						}
					});
    			});
    			$("#phase-two").click(function () {
    				$.ajax({
						type: "POST",
						url: "/admin/sendKey",
						data: JSON.stringify({
                            msg: "keyTwo"
                        }),
                        contentType: "application/json",
                        dataType: "json",
						success: function(data) {
							// alert(message);
                            // alert(data.msg);
                            $("#message").html(data.msg);

						}
					});
    			});
                $("#phase-three").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/admin/sendKey",
                        data: JSON.stringify({
                            msg: "keyThree"
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function(data) {
                            $("#message").html(data.msg);
                        }
                    });
                });
                $("#count-votes").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/admin/countVotes",
                        data: JSON.stringify({
                            msg: "countvotes"
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {
                            // alert(message);
                            $("#message").html(data.msg);
                        }
                    });

                })

    		});

    	</script>
    </body>
</html>