<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/javascripts/validation.js"></script>
  </head>
  <body>
    <div class="row">
        <h1>Online Voting System</h1>
        <div class="col-md-12">
            <form id="loginform" method="post" action="/login">
            	<br>
            	<input type="text" name="user" placeholder="Email" id="email" autocomplete="off" required />
            	<input type="submit" value="Submit" id="submit" onclick="return loginvalidate()"/>
            	<p id="regmsg">Not registered ? <a href='/register'>Register Here</a></p>
                <p id="msg"><%= msg %></p>
            </form>
        </div>
    </div>
  </body>
</html>