<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/javascripts/validation.js"></script>
  </head>
  <body>
    <h1>Online Voting System</h1>
    <form id="loginform" method="post" action="/sendtoken">
    	<br>
    	<input type="text" name="user" placeholder="Email" id="email" autocomplete="off" required />
    	<input type="submit" value="Submit" id="submit" onclick="return loginvalidate()"/>
    	<p id="regmsg">Not registered ? <a href='/register'>Register Here</a></p>
        <p id="msg"><%= msg %></p>
    </form>
  </body>
</html>