<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/javascripts/validation.js"></script>
  </head>
  <body>
  	<ul>
  		<h2>Instructions</h2>
  		<li>Check your mail regularly</li>
  		<li>Three images are sent between time of registration and election via email</li>
  		<li>Keep these images safely</li>
  		<li>Finally a test image is sent , take a print out , place your fingerprint on the blank space provided at the right corner of the image </li>
  		<li>Upload the above images the day before the election</li>
  		<li>Upload the key images in the order in which they were sent</li>
  		<li>If images are uploaded properly, you can vote on the voting day</li>
  	</ul>
  	<a href="/" style="color: darkblue;">Back to home page</a>
  </body>
</html>