<!DOCTYPE html>
<html>
    <head>
        <title>Instructions</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/javascripts/validation.js"></script>
    </head>
    <body>
      	<ul>
      		<h2>Instructions</h2>
      		<li>Check your mail regularly</li>
      		<li>Three keys are sent between time of registration and election via email</li>
      		<li>Don't share these keys with anyone</li>
      		<li>Enter the keys in the voting form on the day of the election</li>
      		<li>If keys are filled properly, you can vote on the voting day</li>
      	</ul>
      	<a href="/" style="color: darkblue;">Back to home page</a>
  </body>
</html>