<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<h1>Register</h1>
    <script type="text/javascript" src="/javascripts/validation.js"></script>
  	<form method="post" action="/uploaddetails" enctype="multipart/form-data">
  		<br>
  		<div class="reginput"><p>Name : </p></div><input type="text" name="name" id="name" placeholder="Name" autocomplete="off" required="true" />
  		<br><br>
  		<div class="reginput"><p>Aadhaar ID : </p></div><input type="text" name="aadhaarid" id="aadhaarid" placeholder="Aadhaar ID" autocomplete="off" required="true">
  		<br><br>
  		<!-- <div class="reginput"><p>Age : </p></div><input type="number" name="age" id="age" placeholder="Age" autocomplete="off" required="true" />
  		<br><br> -->
      <div class="reginput"><p>DOB : </p></div><input type="text" name="dob" id="dob" placeholder="DOB" autocomplete="off" required="true" />
      <br><br>
      <div class="reginput"><p>Email : </p></div><input type="text" name="user" id="email" placeholder="Email" autocomplete="off" required="true" />
      <br><br>
  		<div class="reginput"><p>Permanent Address : </p></div><textarea id="address" type="text" name="address" placeholder="Address" autocomplete="off"></textarea>
  		<br><br>
      <input type="file" id="picture" onchange="previewPic()" name="picture" required placeholder="Upload Finger Print" autocomplete="off">
      <br>
      <br>
      <img src="" id="fingerprint" height="200" alt="FingerPrint here" style="color:white;">
      <br>
      <br>
  		<button id="submit" type="submit" onclick="return validate()" autocomplete="off" >Next</button>
  		<br><br>
  	</form>
    <script type="text/javascript">
      function previewPic()
      {
        var preview = document.getElementById("fingerprint");
        var file = document.querySelector("input[type=file]").files[0];
        var reader = new FileReader();

        reader.addEventListener("load",function(){
            preview.src=reader.result;
        },false);

        if(file)
          reader.readAsDataURL(file);

      }
  </script>
  </body>
 </html>