<!DOCTYPE html>
<html>
    <head>
        <title>Already voted</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/javascripts/validation.js"></script>
    </head>
    <body>
      	<h2>You have already voted</h2>
      	<a href="/" style="color: darkblue;">Back to home page</a>
  </body>
</html>